@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset begin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset end */

body {
    background-color: papayawhip;
    background-image: url(../images/cats-paw-5325371.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: calc(100vh + 100px);
    color: #7a1616;
    font-weight: 700;
    font-family: delius, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    /* background-image: linear-gradient(to top, orange 60%, rgb(250, 203, 31)); */
    height: 20vh;
    min-height: 175px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

header nav a {
    color: rgb(255, 128, 1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

header h1 {
    font-size: 5rem;
    color: rgba(165, 42, 42, 0.608);
}

header span {
    white-space: nowrap
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    padding: 30px;
    box-shadow: 2px 2px 15px brown;
    border-radius: 20px;
    background-color: rgba(255, 239, 213, 0.568);
}

section {
    display: flex;
    justify-content: center;
}

input {
    border-width: 1px;
    background-color: rgb(255, 227, 183);
    color: rgb(151, 100, 4);
}

input::placeholder {
    color: rgb(151, 100, 4)
}

.buttons {
    align-self: center;
}

.buttons button {
    background-color: rgb(167, 64, 1);
    color: yellow;
    border: none;
    padding: 5px;
    border-radius: 7px;
}

header a:hover {
    background-color: rgb(255, 128, 1);
    color: papayawhip
}

.buttons button:hover {
    background-color: rgb(255, 128, 1);
    cursor: pointer;
}

footer {
    height: 6vh;
    background-color: brown;
    margin-top: auto;
    min-height: fit-content
}

footer p {
    color: papayawhip;
    text-align: center;
}

.fa-brands {
    font-size: 1.4rem;
    color: papayawhip;
}

.fa-telegram:hover {
    color: rgb(19, 154, 207);
}

.fa-linkedin:hover {
    color: rgb(29, 144, 246);
}

.fa-github:hover {
    color: black
}

@media (max-width:566px) {
    header h1 {
        font-size: 3rem;
    }

    span {
        display: block;
    }
}