* {
    margin: 0;
}

body {
    background-color: papayawhip;
    background-image: url(../images/cats-paw-5325371.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    /* height: 100vh; */
    color: brown;
    font-weight: 700;
    padding-bottom: 200px;
}

header {
    background-image: linear-gradient(to top, orange 60%, rgb(250, 203, 31));
    height: 20vh;
    min-height: fit-content;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

header a {
    background-color: brown;
    color: rgb(255, 230, 0);
    padding: 10px;
    text-decoration: none;
}

header h1 {
    font-size: 5rem;
    color: rgb(3, 13, 122);
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    padding: 30px;
    box-shadow: 2px 2px 15px brown;
    border-radius: 20px;
    /* text-shadow: 1px 1px 1px papayawhip; */
    background-color: rgba(255, 239, 213, 0.568);
}

section {
    display: flex;
    justify-content: center;
}

input {
    border-width: 1px;
    background-color: rgb(255, 227, 183);
    color: rgb(151, 100, 4);
}

input::placeholder {
    color: rgb(151, 100, 4)
}

footer {
    height: 5vh;
    background-color: brown;
    margin-top: auto;
}