* {
    margin: 0;
}

body {
    background-color: papayawhip;
    background-image: url(../images/cats-paw-5325371.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: calc(100vh + 100px);
    color: #7a1616;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

header {
    /* background-image: linear-gradient(to top, orange 60%, rgb(250, 203, 31)); */
    height: 20vh;
    min-height: 175px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

header a {
    background-color: #a52a2a;
    color: rgb(255, 230, 0);
    padding: 10px;
    text-decoration: none;
}

header h1 {
    font-size: 5rem;
    color: rgba(165, 42, 42, 0.608);
}

header span {
    white-space: nowrap
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    padding: 30px;
    box-shadow: 2px 2px 15px brown;
    border-radius: 20px;
    background-color: rgba(255, 239, 213, 0.568);
}

section {
    display: flex;
    justify-content: center;
}

input {
    border-width: 1px;
    background-color: rgb(255, 227, 183);
    color: rgb(151, 100, 4);
}

input::placeholder {
    color: rgb(151, 100, 4)
}

footer {
    height: 5vh;
    background-color: brown;
    margin-top: auto;
}

footer p {
    color: yellow;
    text-align: center;
}


@media (max-width:566px) {
    header h1 {
        font-size: 3rem;
    }

    span {
        display: block;
    }
}