@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset begin */
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* reset end */

body {
    background-color: papayawhip;
    font-family: Delius;
}

header {
    height: 20vh;
    min-height: fit-content;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 5px;
}

header a {
    color: rgb(255, 128, 1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

header a:hover {
    background-color: rgb(255, 128, 1);
    color: papayawhip
}

header h1 {
    font-size: 5rem;
    color: rgba(165, 42, 42, 0.608);
}

header span {
    white-space: nowrap
}


img {
    width: 100%;
    border-radius: 5px;
    transition: 1s;
}

main {
    display: flex;
    gap: 5px
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px
}

img:hover {
    opacity: 0.9;
    transform: rotate(10deg);
}

footer {
    height: 6vh;
    background-color: brown;
    color: papayawhip;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

footer div a {
    background-color: rgb(255, 183, 0);
    color: brown;
    text-decoration: none;
    padding: 0 5px 0px 5px;
    margin-bottom: 10px;
}

.fa-brands {
    color: papayawhip;
    font-size: 1.4rem;
}

.fa-telegram:hover {
    color: rgb(19, 154, 207);
}

.fa-linkedin:hover {
    color: rgb(29, 144, 246);
}

.fa-github:hover {
    color: black
}

@media (max-width:567px) {
    main {
        flex-direction: column;
    }

}