/* reset begin */
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* reset end */

body {
    background-color: papayawhip;
}

header {
    height: 20vh;
    min-height: fit-content;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

header a {
    background-color: brown;
    color: rgb(255, 230, 0);
    padding: 10px;
    text-decoration: none;
}

/* add a hover effect on the anchor links*/

header h1 {
    font-size: 5rem;
    color: rgba(165, 42, 42, 0.608);
}

header span {
    white-space: nowrap
}


img {
    width: 100%;
    border-radius: 5px;
}

main {
    display: flex;
    gap: 5px
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px
}

img:hover {
    opacity: 0.8;
}

footer {
    height: 8vh;
    background-color: brown;
    color: yellow;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    background-color: rgb(255, 183, 0);
    color: brown;
    text-decoration: none;
    padding: 5px 5px 0px 5px;
    margin-bottom: 10px;
}

@media (max-width:567px) {
    main {
        flex-direction: column;
    }

}