@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset begin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset end */
body {
    background-color: papayawhip;
    color: rgb(94, 9, 9);
    display: flex;
    flex-direction: column;
    font-family: delius, sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header a {
    color: rgb(255, 128, 1);
    padding: 10px;
    text-decoration: none;
}

/* add a hover effect on the anchor links*/

header h1 {
    font-size: 5rem;
    color: rgb(3, 13, 122);
}

.wurrr {
    font-size: 10rem;
    color: rgba(165, 42, 42, 0.208);
}

.wurrr span {
    white-space: nowrap;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 30px;
}

.last-section {
    box-shadow: 2px 2px 5px brown;
    margin: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    place-content: center;
}

.last-section p {
    width: 70%;
}

/* add a hover effect to the gallery link */

h3 {
    font-size: 3rem;
}

.first-section p:hover {
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
    color: orangered;
    transition: 2s;
}

.reason-three {
    margin-bottom: 20px;
}

footer {
    height: fit-content;
    background-color: brown;
    margin-top: auto;
}

footer p {
    color: yellow;
    text-align: center;
    font-size: 1rem
}

.fa-brands {
    font-size: 1.4rem;
    color: papayawhip;
}

@media (max-width:1000px) {
    h3 {
        font-size: 2rem;
    }
}

@media (max-width:528) {
    .wrrr {
        font-size: 8rem;
    }
}